
<div class="row">
  <div class="col-4">
    <div class="card top">
      <div class="container colBorder">
        <div class="row minHeight">
          <div class="col-3 center bor">
<i class="fas fa-car" style="font-size: 45px;"></i>
          </div>
          <div class="col-7 center">
            <h4>Welcome To cars</h4>
            <p> view options on cars</p>
          </div>
          <div class="col-2 info ">
            <i class="fa fa-ellipsis-v " ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card top">
      <div class="container colBorder">
        <div class="row minHeight">
          <div class="col-3 center bor">
<i class="fas fa-cloud" style="font-size: 45px;"></i>
          </div>
          <div class="col-7 center">
            <h4>Welcome To Cloud</h4>
            <p> view options on cloud</p>
          </div>
          <div class="col-2 info ">
            <i class="fa fa-ellipsis-v " ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card top">
      <div class="container colBorder">
        <div class="row minHeight">
          <div class="col-3 center bor">
<i class="fas fa-file" style="font-size: 45px;"></i>
          </div>
          <div class="col-7 center">
            <h4>Welcome To Files</h4>
            <p> view options on File</p>
          </div>
          <div class="col-2 info ">
            <i class="fa fa-ellipsis-v " ></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

