.margin1{
  margin-left:12px;
}
.max{
  max-height: 460px;
  overflow: scroll;
}
.buttonEnd{
  justify-content: space-around !important;
}
.minheight{
  max-height: 100px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.delColor{
  color: red;
}
::-webkit-scrollbar {
  display: none;
}
