<div class="row">
  <div class="col-4">
    <!-- <button mat-raised-button mat-dialog-close color="primary"  class="button ml-5" >Cancel</button> -->
    <mat-icon mat-dialog-close aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
  </div>
  <div class="col-4">
    <h1 mat-dialog-title class="text-center " style="color:rgb(159, 19, 19);    font-weight: 700;">Order Confirmation</h1>
  </div>
  <div class="col-4"></div>
</div>

<div mat-dialog-content class="max">

  <div class="row">
    <div class="col-md-6">
      <h5>{{'Product Name'}}</h5>
    </div>
    <div class="col-md-2">
      <h5>{{'Price'}}</h5>
    </div>
    <div class="col-md-4">
      <h5>{{"Shipping Fee"}}</h5>
    </div>
  </div>
  <div class="minheight">
<div class="row" *ngFor="let item of data;">
  <div class="col-md-6">
    <p>{{item.product_name}}</p>
  </div>
  <div class="col-md-2">
    <p>₹{{item.price}}</p>
  </div>
  <div class="col-md-4">
    <p class="text-success fontsize">Free shipping</p>
  </div>
</div>
</div>
<div class="row mt-3">
  <hr>
  <div class="col-md-5"></div>
  <div class="col-md-3">
    <h6>Discount </h6>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h6 class="margin1">₹{{lengt * 50}}</h6>
  </div>
</div>
<div class="row mt-3">
  <hr>
  <div class="col-md-5"></div>
  <div class="col-md-3">
    <h6>Amount Payable</h6>
  </div>

  <div class="col-md-4">
    <h6>
        <del class="price-old delColor"> ₹{{totalPrice}}</del>
      <span class="ml-2">₹{{totalPrice-lengt * 50}}</span>
    </h6>
  </div>
</div>
</div>
<hr>
<div class="row">
  <h5>Payment Options</h5>
</div>
<div class="row ">
  <div class="col-md-5">

  </div>
  <div class="col-md-7">
    <mat-chip-list   selectable="true" multiple="false">
      <mat-chip  *ngFor="let offer of offers"  (click)="payment(offer)">
        {{offer.name}}&nbsp;
      </mat-chip>

    </mat-chip-list>


  </div>

</div>
<hr>
<h1 mat-dialog-title class="text-center" style="color:rgb(159, 19, 19);    font-weight: 700;">Address Details</h1>
<div class="example-container text-center">

  <div class="row ">
    <div class="col-md-5">
      <h5>Shipping Address</h5>
    </div>
    <div class="col-md-7">
      <mat-card style="    width: max-content;
      ">
        <mat-card-content>{{address}}</mat-card-content>
      </mat-card>
    </div>
    </div>
    <hr>
</div>
<div mat-dialog-actions class="buttonEnd">
  <div class="example-button-row ">
    <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
    <button mat-raised-button type="submit" class="ml-4" color="primary" (click)="onSubmit()"> Buy Now</button>
  </div>
</div>
