<section class="banner_bg_main" style="  ">
<div class="container pad mt-3  ">
  <div class="row">
    <div class="col-md-4" (click)="toProduct()">
      <div class="card card-1">
        <h3>Best of Electronics  & more</h3>
        <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Beauty, Food & more</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Sports, Healthcare & more</h3>
        <p>Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.</p>
      </div>
    </div>
  </div>
</div>
<div class="banner_section layout_padding">
  <div class="container">
     <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
           <div class="carousel-item active">
              <div class="row">
                 <div class="col-sm-12">
                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                    <div class="buynow_bt"><a href="#">Buy Now</a></div>
                 </div>
              </div>
           </div>
           <div class="carousel-item">
              <div class="row">
                 <div class="col-sm-12">
                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                    <div class="buynow_bt"><a href="#">Buy Now</a></div>
                 </div>
              </div>
           </div>
           <div class="carousel-item">
              <div class="row">
                 <div class="col-sm-12">
                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                    <div class="buynow_bt"><a href="#">Buy Now</a></div>
                 </div>
              </div>
           </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        </a>
     </div>
  </div>
</div>

<div class="container pad mt-3  ">
  <div class="row">
    <div class="col-md-4" (click)="toProduct()">
      <div class="card card-1">
        <h3>Best of Electronics  & more</h3>
        <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Beauty, Food & more</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Sports, Healthcare & more</h3>
        <p>Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.</p>
      </div>
    </div>
  </div>
</div>


<!-- footer starts -->
<div class="footer_section layout_padding">
  <div class="container">
     <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
     <div class="input_bt">
        <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
        <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
     </div>
     <div class="footer_menu">
        <ul>
           <li><a href="#">Best Sellers</a></li>
           <li><a href="#">Gift Ideas</a></li>
           <li><a href="#">New Releases</a></li>
           <li><a href="#">Today's Deals</a></li>
           <li><a href="#">Customer Service</a></li>
        </ul>
     </div>
     <div class="location_main">Help Line  Number : <a href="#">+91 1111222233</a></div>
  </div>
</div>
</section>








