.padding-y {
  padding-top: 0px;
  padding-bottom: 40px;
}
// .pad{
//   padding-top: 60px;
// }
btn-primary {
  background-color: #9e1212 !important;
}
.scroll{
  max-height: 70vh;
  overflow:scroll;
}
::-webkit-scrollbar {
  display: none;
}
.butWidth{
  width: 172px;
}
.nodata{
  background-image: url('../../assets/images/NoData.jpg');
    background-repeat: no-repeat;
  background-position: right;

  background-size:100% 100%;
  // min-height: 134px;
  min-height: 75vh;
}
.price-old{
  color:red;
}
.fWeight{
  font-weight: 600;
}
.heightmax{
  max-height: 138px;
  min-height: 138px;
  overflow: scroll;
}
.fontsize{
  font-size: 10px;
}
.emptyBg{
  background-image: url(../../assets/images/can-ge43a3e56c_1280.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 409px 151px;
  min-height: 134px;
}


