
<!-- <section class="section-pagetop bg"> -->
  <section class="pad">
  <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon"
   (click)="toPrevious()">
    <mat-icon>arrow_back</mat-icon>
  </button>

</section>
<section class="section-content padding-y">
  <div class="container">

  <div class="row">

      <main class="col-md-8 scroll">

  <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
              <span class="mr-md-auto">32 Items found </span>
              <select class="mr-2 form-control">
                  <option>Latest items</option>
                  <option>Trending</option>
                  <option>Most Popular</option>
                  <option>Cheapest</option>
              </select>
              <div class="btn-group">
                  <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip"
                  title="List view">
                      <i class="fa fa-bars"></i></a>
                  <a href="#" class="btn  btn-outline-secondary" data-toggle="tooltip"
                  title="Grid view">
                      <i class="fa fa-th"></i></a>
              </div>
          </div>
  </header>


  <article class="card card-product-list">
      <div class="row no-gutters">
          <aside class="col-md-3">
              <a href="#" class="img-wrap">
                  <span class="badge badge-danger"> NEW </span>
                  <img src="assets/images/items/3.jpg">
              </a>
          </aside>
          <div class="col-md-6">
              <div class="info-main">
                  <a href="#" class="h5 title"> Peter England Jean Trousers  </a>
                  <div class="rating-wrap mb-3">
                      <ul class="rating-stars">
                          <li style="width:80%" class="stars-active">
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                          <li>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <div class="label-rating">7/10</div>
                  </div>
                  <p> Men Skinny Fit Green Cotton Blend Trousers</p>
              </div>
          </div>
          <aside class="col-sm-3">
              <div class="info-aside">
                  <div class="price-wrap">
                      <span class="price h5"> $140 </span>
                      <del class="price-old"> $198</del>
                  </div>
                  <p class="text-success">Free shipping</p>
                  <br>
                  <p>
                      <a href="#" class="btn btn-primary btn-block"> Details </a>
                      <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                          <span class="text">Add to wishlist</span>
                      </a>
                  </p>
              </div>
          </aside>
      </div>
  </article>


  <article class="card card-product-list">
      <div class="row no-gutters">
          <aside class="col-md-3">
              <a href="#" class="img-wrap"><img src="assets/images/items/4.jpg"></a>
          </aside>
          <div class="col-md-6">
              <div class="info-main">
                  <a href="#" class="h5 title"> Bags  </a>
                  <div class="rating-wrap mb-3">
                      <ul class="rating-stars">
                          <li style="width:80%" class="stars-active">
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                          <li>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <div class="label-rating">10/10</div>
                  </div>

                  <p> Blowzy
                    Medium 25 L Backpack Luxury  (Blue) </p>
              </div>
          </div>
          <aside class="col-sm-3">
              <div class="info-aside">
                  <div class="price-wrap">
                      <span class="price h5"> $56 </span>
                      <del class="price-old"> $85</del>
                  </div>
                  <p class="text-success">Free shipping</p>
                  <br>
                  <p>
                      <a href="#" class="btn btn-primary btn-block"> Details </a>
                      <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                          <span class="text">Add to wishlist</span></a>
                  </p>
              </div>
          </aside>
      </div>
  </article>

  <article class="card card-product-list">
      <div class="row no-gutters">
          <aside class="col-md-3">
              <a href="#" class="img-wrap"><img src="assets/images/items/5.jpg"></a>
          </aside>
          <div class="col-md-6">
              <div class="info-main">
                  <a href="#" class="h5 title"> Apple MacBook  </a>
                  <div class="rating-wrap mb-3">
                      <ul class="rating-stars">
                          <li style="width:80%" class="stars-active">
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                          <li>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <div class="label-rating">7/10</div>
                  </div>

                  <p>APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN93HN/A
                    (13.3 inch, Silver, 1.29 kg)</p>
              </div>
          </div>
          <aside class="col-sm-3">
              <div class="info-aside">
                  <div class="price-wrap">
                      <span class="price h5"> $56.00 </span>
                  </div>
                  <p class="text-success">Free shipping</p>
                  <br>
                  <p>
                      <a href="#" class="btn btn-primary btn-block"> Details </a>
                      <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                          <span class="text">Add to wishlist</span>
                      </a>
                  </p>
              </div>
          </aside>
      </div>
  </article>

  <article class="card card-product-list">
      <div class="row no-gutters">
          <aside class="col-md-3">
              <a href="#" class="img-wrap"><img src="assets/images/items/6.jpg"></a>
          </aside>
          <div class="col-md-6">
              <div class="info-main">
                  <a href="#" class="h5 title"> Royal Oak Sofa  </a>
                  <div class="rating-wrap mb-3">
                      <ul class="rating-stars">
                          <li style="width:80%" class="stars-active">
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                          <li>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <div class="label-rating">7/10</div>
                  </div>

                  <p> Royal Oak Perfect Homes Burano  Fabric 6 Seater Sofa
                     (Finish Color - Sky Blue, DIY(Do-It-Yourself))</p>
              </div>
          </div>
          <aside class="col-sm-3">
              <div class="info-aside">
                  <div class="price-wrap">
                      <span class="price h5"> $62 </span>
                  </div>
                  <p class="text-success">Free shipping</p>
                  <br>
                  <p>
                      <a href="#" class="btn btn-primary btn-block"> Details </a>
                      <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                          <span class="text">Add to wishlist</span>
                      </a>
                  </p>
              </div>
          </aside>
      </div>
  </article>




  <nav aria-label="Page navigation sample">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

      </main>
      <aside class="col-md-4">

        <div class="card">
            <article class="filter-group">
              <header class="card-header">
                <h5 class="title text-center">CART</h5>
                <div class="row ">
                  <div id="{{ i }}" class="col-12  " *ngFor="let data of sampleSuggestionsArray; let i = index">
                    <div class="row    ">
                      <div class="col-6">
                        <div class=" ">{{ data.menuName }}</div>
                        <small class=" ">{{ data.desc }}</small>
                      </div>


                      <div class="col-2 ">
                          <div>${{ data.variationCost }}</div>
                      </div>
                      <div class="col-4">
                          <button (click)="addToCart(data)" class="btn btn-secondary mb-1">
                          Add Item
                          <span class="icon-add_circle"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
              </article>

        </div>
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option>One fish</mat-chip-option>
                <mat-chip-option>Two fish</mat-chip-option>
                <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
                <mat-chip-option color="warn">Warn fish</mat-chip-option>
              </mat-chip-listbox>
              </header>
              </article>
              </div>
            </aside>
  </div>

  </div>
  </section>

  <footer class="section-footer border-top padding-y">
      <div class="container">
          <p class="float-md-right">
              &copy; Copyright 2023 Add2cart.com
          </p>
          <p>
              <a href="#">Terms and conditions</a>
          </p>
      </div>
  </footer>


