
<!-- <section class="section-pagetop bg"> -->
  <section class="pad">
  <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon"
   (click)="toPrevious()">
    <mat-icon>arrow_back</mat-icon>
  </button>

</section>

<section class="section-content padding-y nodata" *ngIf ="nodataToDisplay==true">
  <div class="container">
    <div class="row text-center">
      <h3 style="color:white;">No stocks Available</h3>
    </div>
    </div>
    </section>
<section class="section-content padding-y" *ngIf ="nodataToDisplay==false">
  <div class="container">

  <div class="row">

      <main class="col-md-8 scroll">

  <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
              <span class="mr-md-auto">{{productLength}} Items found </span>
              <select class="mr-2 form-control">
                  <option>Latest items</option>
                  <option>Trending</option>
                  <option>Most Popular</option>
                  <option>Cheapest</option>
              </select>
              <div class="btn-group">
                  <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip"
                  title="List view">
                      <i class="fa fa-bars"></i></a>
                  <a href="#" class="btn  btn-outline-secondary" data-toggle="tooltip"
                  title="Grid view">
                      <i class="fa fa-th"></i></a>
              </div>
          </div>
  </header>


  <article class="card card-product-list" *ngFor="let item of productlist ">
      <div class="row no-gutters mat-card">
          <aside class="col-md-3">
              <a href="#" class="img-wrap">
                  <span class="badge badge-danger"> NEW </span>
                  <img src="assets/images/items/2.jpg">
              </a>
          </aside>
          <div class="col-md-6">
              <div class="info-main">
                  <a href="#" class="h5 title"> {{item.product_name}} </a>
                  <div class="rating-wrap mb-3">
                      <ul class="rating-stars">
                          <li style="width:80%" class="stars-active">
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                          <li>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <div class="label-rating">7/10</div>
                  </div>
                  <p> {{item.product_description }}</p>
                  <hr>
                  <p *ngIf="item.stock >0" style="color:rgb(0, 0, 0)">Only <span class="stock">{{item.stock }} </span>Items Left</p>
                  <p *ngIf="item.stock ==0" style="color:rgb(227, 17, 17)">NO STOCKS AVAILABLE</p>
              </div>
          </div>
          <aside class="col-sm-3">
              <div class="info-aside">
                  <div class="price-wrap">
                    <del class="price-old"> ₹{{item.price+200}}</del>
                      <span class="price h5 ml-2">₹{{item.price}}</span>

                  </div>
                  <p class="text-success">Free shipping</p>
                  <br>

                  <p>

<a> <button [disabled]="item.stock ==0" class="butWidth" mat-raised-button color="primary"(click)="addToCart(item)">Add To Cart

</button>
</a>

<a> <button class="butWidth mt-2" mat-raised-button color="accent" >Add To Wish List

</button>
</a>
                    <!-- <a  class="btn btn-primary btn-block" (click)="addToCart(item)"> Add To cart </a> -->
                      <!-- <a  class="btn btn-primary btn-block" (click)="cartData(item)"> Add To cart </a> -->
                      <!-- <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                          <span class="text">Add to wishlist</span>
                      </a> -->
                  </p>
              </div>
          </aside>
      </div>
  </article>






  <!-- <nav aria-label="Page navigation sample">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->

      </main>
      <aside class="col-md-4">


  <div class="card ">
            <article class="filter-group">
              <header class="card-header">
                <h5 class="title text-center mb-3"*ngIf ="noData==false">CART</h5>
                <div class="row emptyBg" *ngIf ="noUser ==true">
                  <h5 class="text-center" style="color:#62b8a4b8">Login To View cart</h5>
                </div>
                <div class="row emptyBg" *ngIf ="noData ==true">
                  <h5 class="text-center">Your cart is empty</h5>
                </div>
                <div class="row heightmax" *ngIf ="noData==false">
                  <div  class="col-12  " *ngFor="let data of cartitems; ">
                    <div class="row    ">
                      <!-- <h1>hello</h1> -->
                      <div class="col-6">
                        <div class=" fWeight">{{ data.product_name }}</div>
                        <small class=" ">{{ data.product_description }}</small>
                      </div>


                      <div class="col-3 ">
                          <div>₹{{ data.price }}</div>
                          <small class=" ">
                            <p class="text-success fontsize">Free shipping</p>
                          </small>
                      </div>
                      <div class="col-3">
                         <a><span><mat-icon style="color:rgb(1, 1, 1)">add_box</mat-icon></span>
                          <span (click)="deleteCartItems(data)"><mat-icon style="color:red;"  >delete</mat-icon></span>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf ="noData==false">
                  <mat-progress-bar mode="buffer"  color="primary"></mat-progress-bar>
                  <section class="text-center mt-3">
                  <h6><div>Total Price : ₹{{totalPrice }}</div></h6>
                  </section>
     <section>

                          <div class="example-button-row text-center">

                            <button mat-raised-button color="accent"(click)="openDialog()">proceed To Payment

                            </button>

                          </div>
                        </section>
                </div>
              </header>
              </article>

        </div>
        <div class="card mt-3">
          <article class="filter-group">
            <header class="card-header">
              <h5 class="title text-center mb-3">CATEGORIES</h5>
              <div>
                <mat-chip-list aria-label="Fish selection">
                  <div *ngFor="let item of categorylist">
                  <mat-chip (click)="getbycategory(item)" >{{item.category_name}}</mat-chip>
                </div>

              </mat-chip-list>

              </div>

              </header>
              </article>
              </div>
            </aside>
  </div>

  </div>
  </section>

  <footer class="section-footer border-top padding-y">
      <div class="container">
          <p class="float-md-right">
              &copy; Copyright 2023 Add2cart.com
          </p>
          <p>
              <a href="#">Terms and conditions</a>
          </p>
      </div>
  </footer>


